body{
  background-color: rgb(225, 232, 218);
  padding-top: 70px;
}
.navbar{
  height: 70px;
}
.card{
  height: 500px;
}
.imgCoach{
height: 220px;
}
.logoCoach{
height: 100px;
width : 100px;
}
.encart{
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgPlayer{
  height: 400px;
  width : 400px;
}
.club_name {
  display: flex;
  justify-content: center;
  align-items: center;
}
